<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://osfilmesdokacic.files.wordpress.com/2021/06/viuva-negra_os-filmes-do-kacic.jpg?w=1400" alt=""
        height="200px"
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate enim iure voluptas veniam ab ullam deserunt laborum, tempora modi! Vel recusandae, sint perferendis similique ut accusantium ducimus dolores iusto illum!</a>
        </p>
    </div>
</div>
